[rewrite_local]
# 福利吧 Cookie获取规则
^https:\/\/www\.wnflb2023\.com\/forum\.php.*mobile=no url script-request-header https://raw.githubusercontent.com/ader90520/fuba/main/fuliba_cookie.js
^https:\/\/www\.wnflb00\.com\/forum\.php.*mobile=no url script-request-header https://raw.githubusercontent.com/ader90520/fuba/main/fuliba_cookie.js
^https:\/\/www\.wnflb99\.com\/forum\.php.*mobile=no url script-request-header https://raw.githubusercontent.com/ader90520/fuba/main/fuliba_cookie.js

[mitm]
hostname = www.wnflb2023.com, www.wnflb00.com, www.wnflb99.com